.cards{
    height: 32px;
    width: 99%;
    border: 2px solid #000000;
    

    padding: 0px 5px 0px 0px;
    
    color:  #ffffff;

    display: flex;
    justify-content:space-between;
    align-items: center;

    box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.75);
    
    transition: 0.3s;
}
.cards img{
    margin: 0px 5px;
    width: 36px;
}

.card-container{
    align-items: center;
    display: flex;
}

.cards:hover{
    width: 100%;
    transition: height 0.5s;
}

.lista-pokemons{
    
    margin: 3px 0px;
    padding: 1px 0px;
    cursor: pointer;
    
  }

