.cards{
    height: 8%;
    width: 99%;
    border: 2px solid #000000;
    padding: 0px 5px 0px 0px;
    color:  #ffffff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.75);
    transition: 0.3s;
}
.cards img{
    margin: 0px 5px;
    width: 36px;
}
.card-container{
    align-items: center;
    display: flex;
}
.cards:hover{
    width: 100%;
}
.lista-pokemons{
    margin: 3px 0px;
    padding: 1px 0px;
    cursor: pointer;   
}
.padrao{
    width: 100px;
    margin: 2px;
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
    border: none;
    color: #ffffff;
}
.normal{
    background-image: url("/src/assets/capas/capa-normal.png")
}
.grass{
    background-position: 50% 20%;
    background-image: url("/src/assets/capas/capa-planta.png")
}
.fire{
    background-image: url("/src/assets/capas/capa-fogo.png");
}
.water{
    background-image: url("/src/assets/capas/capa-agua.png");
}
.electric{
    color: #000000;
    background-position: center;
    background-image: url("/src/assets/capas/capa-elétrico.png");
}
.bug{
    background-image: url("/src/assets/capas/capa-inseto.png");
}
.flying{
    color: #000000;
    background-image: url("/src/assets/capas/capa-voador.png");
}
.poison{
    background-image: url("/src/assets/capas/capa-venenoso.png");
}
.ground{
    background-image: url("/src/assets/capas/capa-terrestre.png");
}
.fairy{
    background-image: url("/src/assets/capas/capa-fada.png");
}
.fighting{
    background-position: 50% 20%;
    background-image: url("/src/assets/capas/capa-lutador.png");
}
.psychic{
    background-image: url("/src/assets/capas/capa-psíquico.png");
}
.rock{
    background-image: url("/src/assets/capas/capa-pedra.png");
}
.ghost{
    background-image: url("/src/assets/capas/capa-fantasma.png");
}
.ice{
    background-image: url("/src/assets/capas/capa-gelo.png");
}
.dragon{
    background-image: url("/src/assets/capas/capa-dragão.png");
}
.dark{
    background-image: url("/src/assets/capas/capa-sombrio.png");
}
.steel{
    background-position: 80% 80%;
    background-image: url("/src/assets/capas/capa-aço.png");
}