.App{
  width: 100vw;
  height: 100vh;

  background-color: #FFF;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

}
.grid-container{
  align-items: center;
  height: 90vh;
  width: 70%;

  display: grid;
  grid-column: 4;
}

.caixa-container{
  margin: 10px;
  display: flex;
  width: 5px;
}



.lista{
  height: 90%;
  padding: 10px;
  border-right: 2px solid black;
  border-radius: 15px 0px 0px 15px;
  background: #242424;
  /* background: linear-gradient(180deg, rgb(165, 255, 208) 0%, #23B5D3 100%); */
}
.container-lista-pokemon{
  height: 85%;
}

.lista-pokemons{
  border: 2px solid black;
  margin: 3px 0px;
  padding: 1px 0px;
  cursor: pointer;
}


.descricao{
  height: 90%;
  color: #000;
  border-left: 2px solid black;
  border-radius: 0px 15px 15px 0px;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 10px;

  background: linear-gradient(180deg, #CEE5F2 0%, #7C98B3 100%);
}

.descricao-container{
  display: flex;
  flex-direction:column;
  align-items: center;

  width: 100%;
  height: 100%;
}

.figure{
  width: 60%;
  height: 40%;
  
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  background-color: #ACEB98;
  background-color: #E7E247;
  box-shadow: 10px 10px 18px -11px rgba(0,0,0,0.75);
}

.figure img{
  width: 170%;
  transform: translateX(-20%)
}

.descricao-status{
  width: 100%;
}

li{
  border: 1px solid black;
}